* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: futura, sans-serif;
}

header {
    background-color: white;
    height:50px;
    width: 100%;
    position:fixed;
    top: 0;
    z-index: 999;
}

header li {
    display: inline-block;
    padding: 9px 30px 20px 30px;
    
}

header a {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    transition: .3s;
}

header a:hover {
    color: #c65066;
    text-decoration: underline;
}

.current {
    text-decoration: underline;
}

#logo {
    font-size: 24px;
}

section {
    padding: 50px;
    height: 300px;
    position: relative;
}

#firstsection {
    background-color: pink;
    background-size: cover;
    background-position: center top;
}

#secondsection {
    background-color: white;
    background-size: cover;
    background-position: center top;
}


.photosection2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(darwin.jpg);
    filter: grayscale(100%);
    background-size: cover;
    background-position: center center;
}

#sectionwrapper {
    height: 500px;
}

#wrapper {
    display:table;
    width:100%;
    height: 300px;
    padding: 0 100px 0 100px;
}
#row {
    display:table-row;
    
}
#first {
    display:table-cell;
    width:50%;
    font-size: 30px;
    text-align: center;
}
#second {
    display:table-cell;
    width:50%;
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 20px;
    padding: 0 20px 0 20px;
}


h1 {
    text-align: center;
    font-size: 64px;
    padding-top: 70px;
}

h2 {
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 40px 250px 60px 250px;}
}

h3 {
    text-align: center;
    font-size: 20px;
    padding: 20px 250px 0 250px;
    
}

h4 {
    text-align: center;
    font-size: 40px;
    padding: 60px 250px 60px 250px;}

.quote {
    font-size: 27px;
    font-style: italic;
    text-align: left;
    padding: 20px 150px 0 150px;
}

.footer {
    background-color: #eeeeee;
    padding: 50px;
    height: 200px;
    position: relative;
}

.footertext {
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}